[submodule "SchematicDiagram/lib/ESP32"]
	path = SchematicDiagram/lib/ESP32
	url = https://github.com/espressif/kicad-libraries.git
[submodule "earth/ros2_ws/src/micro_ros_setup"]
	path = earth/ros2_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = iron
